<style>
    .container{
        --height: {{ section.settings.height }};
        height: var(--height);
        transform: rotate(11deg);
        max-width: 90vw;
      }

      .container svg {
         height: var(--height);
      }

      .jellyfishGroup {
        animation: 3s infinite alternate contraction;
        animation-timing-function: ease-in-out;
      }

      .jellyStrandGroup path {
        animation: 2s infinite alternate movingStrands;
        animation-timing-function: ease-in-out;
      }

      .jellyStrandGroup path:nth-child(2) {
        animation-delay: 320ms;
      }

      .jellyStrandGroup path:nth-child(3) {
        animation-delay: 640ms;
      }

      @keyframes contraction {
        from {
          transform: scaleX(1.1) scaleY(0.9) translateX(-30px) translateY(calc(var(--height) * 0.6));
        }

        to {
          transform: scaleX(0.9) scaleY(1.1) translateX(30px) translateY(calc(var(--height) * -0.35));
        }
      }

      @keyframes movingStrands {
        from {
          transform: translateY(0px);
        }

        to {
          transform: translateY(-184px);
        }
      }


      .stop1 {
        stop-color: red;
        stop-opacity: 1;
      }

      .stop2  {
        stop-color: green;
        stop-opacity: 0.2;
      }

      .tendrilStop1 {
        stop-color:#24B9BD;
        stop-opacity:1
      }

      .tendrilStop2 {
        stop-color:#3D80CF;
        stop-opacity:0;
      }
      </style>

      <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 600 600">
          <defs>
            <linearGradient id="bodyGrad" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" class="stop1"/>
              <stop offset="100%" class="stop2"/>
            </linearGradient>
            <linearGradient id="tendrilGrad">
              <stop offset="5%" class="tendrilStop1" />
              <stop offset="95%" class="tendrilStop2" />
            </linearGradient>

            <clipPath id="jellyMask">
              <circle class="jellyMask" fill="#FF0000" cx="268.5" cy="193" r="70" />
            </clipPath>
            <clipPath id="jellyStrandMask">
              <path class="jellyStrandMask" fill="#FF0000" d="M457,228v192H171V228c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.6-0.9,5.3-2.3
          c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3c2.5,0,3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7
          c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3
          s3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.3-0.9,5-2.3c2-1.7,4.8-3.7,8.8-3.7
          c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3
          c2.5,0,3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7
          c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3s3.6-0.9,5.3-2.3c2-1.7,4.4-3.7,9.1-3.7c4.7,0,7.1,2,9.1,3.7c1.7,1.4,2.8,2.3,5.3,2.3
          s3.3-0.9,5-2.3C450.1,230,453,228,457,228z" />
            </clipPath>

          </defs>
          <use xlink:href="#bgCircle" />
          <g class="maskedAll" clip-path="url(#bgMask)">
            <g class="jellyfishGroup">

              <g class="maskedJellyGroup" clip-path="url(#jellyMask)">
                <path class="frill" fill="#D0E6F2" opacity="0.8" d="M448.1,210.7c-1.7,1.4-2.5,2.3-5,2.3c-2.5,0-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7
          c-4.7,0-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3c-2.5,0-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7c-4.7,0-7.1,2.1-9.1,3.7
          c-1.7,1.4-2.8,2.3-5.2,2.3s-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7s-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3s-3.6-0.9-5.2-2.3
          c-2-1.6-4.4-3.7-9.1-3.7c-4.7,0-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3s-3.6-0.9-5.2-2.3c-2-1.6-4.4-3.7-9.1-3.7
          c-4,0-6.9,2.1-8.9,3.7c-1.7,1.4-2.5,2.3-5,2.3c-2.5,0-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7c-4.7,0-7.1,2.1-9.1,3.7
          c-1.7,1.4-2.8,2.3-5.2,2.3c-2.5,0-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7c-4.7,0-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3
          s-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7s-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3s-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7
          s-7.1,2.1-9.1,3.7c-1.7,1.4-2.8,2.3-5.2,2.3c-2.5,0-3.6-0.9-5.3-2.3c-2-1.6-4.4-3.7-9.1-3.7v6c2.5,0,3.6,0.9,5.2,2.3
          c2,1.6,4.4,3.7,9.1,3.7c4.7,0,7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.2-2.3s3.6,0.9,5.2,2.3c2,1.6,4.4,3.7,9.1,3.7
          c4.7,0,7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7s7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.2-2.3
          c2.5,0,3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7c4.7,0,7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.2-2.3c2.5,0,3.6,0.9,5.3,2.3
          c2,1.6,4.4,3.7,9.1,3.7s6.9-2.1,8.9-3.7c1.7-1.4,3-2.3,5-2.3c2.5,0,3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7c4.7,0,7.1-2.1,9.1-3.7
          c1.7-1.4,2.8-2.3,5.2-2.3c2.5,0,3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7s7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3
          c2,1.6,4.4,3.7,9.1,3.7s7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.2-2.3c2.5,0,3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7
          c4.7,0,7.1-2.1,9.1-3.7c1.7-1.4,2.8-2.3,5.2-2.3c2.5,0,3.6,0.9,5.3,2.3c2,1.6,4.4,3.7,9.1,3.7s6.9-2.1,8.9-3.7c1.7-1.4,3-2.3,5-2.3
          v-6C453,212,450.1,214,448.1,215.7z" />
                <path class="jellyBody" fill="url(#bodyGrad)" opacity="0.8" d="M452,191.1V40H171v150v6c2.5,0,3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7
          c4.7,0,7.1-2,9.1-3.7c1.6-1.4,2.8-2.3,5.3-2.3c2.5,0,3.6,0.9,5.2,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,7.1-2,9.1-3.7
          c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,7.1-2,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3
          c2,1.7,4.4,3.7,9.1,3.7s7.1-2,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,6.9-2,8.9-3.7
          c1.7-1.4,3-2.3,5-2.3c2.5,0,3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,7.1-2,9.1-3.7c1.6-1.4,2.8-2.3,5.3-2.3
          c2.5,0,3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,7.1-2,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7
          c4.7,0,7.1-2,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3s3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7s7.1-2,9.1-3.7c1.7-1.4,2.8-2.3,5.3-2.3
          s3.6,0.9,5.3,2.3c2,1.7,4.4,3.7,9.1,3.7c4.7,0,8.9-3.7,8.9-3.7V191.1z" />

              </g>

              <g class="maskedJellyStrandGroup" clip-path="url(#jellyStrandMask)">
                <g class="jellyStrandGroup" fill="url(#tendrilGrad)">

                  <path d="M259.6,653h-7.5c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43
              c-4.2-12-8.6-24.4-8.6-49c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43c-4.2-12-8.6-24.4-8.6-49
              c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43h7.5c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43s3.7,31.9,7.7,43
              c4.2,12,8.6,24.4,8.6,49c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43c0,21.4,3.7,31.9,7.7,43c4.2,12,8.6,24.4,8.6,49
              s-4.4,37-8.6,49C263.3,621.1,259.6,631.6,259.6,653z" />
                  <path d="M278.4,653h-7.5c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43
              c-4.2-12-8.6-24.4-8.6-49c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43c-4.2-12-8.6-24.4-8.6-49
              c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43h7.5c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43s3.7,31.9,7.7,43
              c4.2,12,8.6,24.4,8.6,49c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43c0,21.4,3.7,31.9,7.7,43c4.2,12,8.6,24.4,8.6,49
              s-4.4,37-8.6,49C282.1,621.1,278.4,631.6,278.4,653z" />
                  <path d="M240.8,653h-7.5c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43
              c-4.2-12-8.6-24.4-8.6-49c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43c0-21.4-3.7-31.9-7.7-43c-4.2-12-8.6-24.4-8.6-49
              c0-24.6,4.4-37,8.6-49c3.9-11.1,7.7-21.6,7.7-43h7.5c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43s3.7,31.9,7.7,43
              c4.2,12,8.6,24.4,8.6,49c0,24.6-4.4,37-8.6,49c-3.9,11.1-7.7,21.6-7.7,43c0,21.4,3.7,31.9,7.7,43c4.2,12,8.6,24.4,8.6,49
              s-4.4,37-8.6,49C244.6,621.1,240.8,631.6,240.8,653z" />
                </g>
              </g>

            </g>

        </svg>

      </div>
{% schema %}
{
  "name": "Jellyfish",
  "settings": [
    {
      "type": "text",
      "id": "height",
      "label": "Height",
      "default": "330px"
    }
  ],
  "presets": [
    {
      "name": "Jellyfish animation",
      "category": "Image"
    }
  ]
}
{% endschema %}
